<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <form [formGroup]="addFillingForm">
            <input formControlName="km" type="number" id="fname" name="km" placeholder="Km">
            <input formControlName="volume" type="number" id="lname" name="gl" placeholder="Galons">
            <button class="waves-effect waves-red btn-flat white-text" type="submit" value="Cancel" (click)="hideModal()">Cancel</button>
            <button class="btn waves-effect waves-light deep-purple accent-4" type="submit" value="Save" (click)="saveFilling()">Save Filling</button>
        </form>
    </div>
</div>