/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Smooch:400')

h1,h2,h3,h4,h5,h6 
  margin: 0
  font-family: 'Smooch'

html
  background: #263238
  color: #fff
  input
    color: #fff

  .container
    display: flex
    justify-content: center
    align-content: center
    margin: 2rem 0 0

app-add-filling
  .modal
    z-index: 1003
    display: block
    opacity: 1
    top: 10%
    transform: scaleX(1) scaleY(1)
  .modal-overlay
    z-index: 1002
    display: block
    opacity: 0.5
    
.hidden
  display: none

.modal-content
  background: #263238
  color: #fff