/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
$background-color:  #263238

h1,h2,h3,h4,h5,h6 
  margin: 0
  font-family: 'Roboto'

h1
  font-size: 3.5rem

html
  background: $background-color 
  color: #fff
  input
    color: #fff

  .container
    display: flex
    justify-content: center
    align-content: center
    margin: 2rem 0 0

app-add-filling
  .modal
    z-index: 1003
    display: block
    opacity: 1
    top: 10%
    transform: scaleX(1) scaleY(1)
  .modal-overlay
    z-index: 1002
    display: block
    opacity: 0.5
    
.hidden
  display: none

.modal-content
  background: #263238
  color: #fff

.fixed-br
  position: fixed
  bottom: 5% 
  right: 5%

td
  border-radius: 0

.divider
  height: 3rem
  background: transparent

.background-icon
  border: 2px solid #fff
  border-radius: 1rem
  margin: 0.5rem
  height: 3.2rem
  width: 3.2rem
  a
    padding: 0
    i
      height: 3rem
      width: 3rem
      line-height: 3rem
      text-align: center